

<div class="container">
    <div class="jumbotron text-center">
        <h1 class="display-4">{{pageTitle}}</h1>
        <p class="lead">Pon tus dudas y aprende con tus compañeros</p>
        <hr class="my-4">
        <p>
            <a class="btn btn-primary btn-lg mr-3" href="#" role="button">ver temas</a>
        </p>
        <p>
            <a class="btn btn-success btn-lg mr-3" href="#" role="button">ver companeros</a>
        </p>
        <p>
            <a class="btn btn-warning  btn-lg mr-3" href="#" role="button">añadir tema</a>
        </p>
       
      </div>
</div>
