  <nav class="navbar navbar-expand-lg" style="background-color: rgba(119, 160, 221, 0.678);">
    <div class="container-fluid">
      <a class="navbar-brand"[routerLink]="['/inicio']">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/inicio']">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Temas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" *ngIf="identity">Crear temas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">companeros</a>
          </li>
          
  
          <li class="nav-item">
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="¿Qué deseas buscar?" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </li>        
        </ul>
        
  
        <ul class="navbar-nav navbar-right">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/registro']" *ngIf="!identity">Registrate</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/login']" *ngIf="!identity">Login</a>
          </li>
          <li class="nav-item dropdown" *ngIf="identity">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             {{identity.name + ' ' + identity.surname}}
            </a>
            <ul class="dropdown-menu p-2">
              <li><a class="dropdown-item" href="#"> Panel de usuario</a></li>
              <li><a class="dropdown-item" href="#">Mi perfil</a></li>
              <li><a class="dropdown-item" [routerLink]="['/ajustes']">Ajustes</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" (click)="logOut()">Cerrar cession</a></li>
            </ul>
          </li>
        </ul>
       
      </div>
    </div>
  </nav>


<router-outlet></router-outlet>

